<html>

<head>
    <title>Welcome</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Festive&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <style>
        .my-font {
            font-family: 'Festive', cursive;
        }

        .login-font {
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;

        }

        .forget-password {
            font-size: 22px;
        }

        .para-font {
            font-family: Brush Script MT;
            font-size: 45px;
        }
    </style>

<body
    style="background-color: darkgray; background-repeat: none; background-size: cover;">

    <nav class="navbar navbar-expand-sm navbar-dark bg-transparent">
        <div class="container">
            <a class="navbar-brand text-light " href="/">
                <h3 class=" font-weight-bolder display-4  my-font">MCS</h3>
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Logout<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container mt-5">
        <div class="row text-center text-dark">
            <div class="col">
                <h3 class="display-3 login-font ">WELCOME</h3>
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <p class="font-weight-bold para-font">It's about being yourself and putting what you have into it.</p>
            </div>
        </div>

        <div class="col">
            <div class=" text-center mt-5 ">
                <a href="/inventory/" button type="submit"
                    class=" font-weight-bold forget-password  btn btn-outline-success text-dark">
                    Inventory <i aria-hidden="true"></i></a>
                </button>
                <div class=" text-center mt-5 ">
                    <a href="/billing/" button type="submit"
                        class=" font-weight-bold forget-password  btn btn-outline-success text-dark">
                        Billing <i aria-hidden="true"></i></a>
                    </button>
                    <div class=" text-center mt-5 ">
                        <a href="/orderhistory/" button type="submit"
                            class=" font-weight-bold forget-password  btn btn-outline-success text-dark">
                            Order History <i aria-hidden="true"></i></a>
                        </button>
                    </div>
                </div>
            </div>
            </form>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</head>

</html>